@import "quiz.scss";
@import "dummy.scss";
@import "responsive.scss";

// fontawesome
@import "fontawesome/scss/fontawesome.scss";
@import "fontawesome/scss/solid.scss";

@font-face {
  font-family: 'Varela';
  src: url('../fonts/varelaround-regular-webfont.eot');
  src: url('../fonts/varelaround-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/varelaround-regular-webfont.woff2') format('woff2'),
    url('../fonts/varelaround-regular-webfont.woff') format('woff'),
    url('../fonts/varelaround-regular-webfont.ttf') format('truetype'),
    url('../fonts/varelaround-regular-webfont.svg#varela_roundregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  text-align: center;
  padding-bottom: 40px
}

.content {
  padding-bottom: 20px;
}